.container{
    margin-top: 6%;
    margin-left: 30%;
    display: inline-flex;
    background-color: #727070;
    width: 40%;
    height: 70%;
}
input{
    margin-top: 7%;
    margin-block-end: 5%;
    text-align: center;
    width: 70%;
}
h1{
    text-align: center;
    margin-top: 25%;
}
.button1{
    display: block;
    float: left;
    padding: 3px;
    background-color: #fc4949;
}
.button2{
    padding: 3px 3px;
    float: right;
    margin-top: 7%;
    display: block;
    background-color: #fc4949;
}
.credentials{
    margin-block: 5%;
    margin-left: 10%;
}

