.container {
    width: 80%;
    margin-left: 10%;
    background-image: url("Planeinwoods.jpg");
    background-size: cover;
}


h1{

    font-size: 35px;
    margin-top: 20%;
    text-align: center;
}
h2{
    margin-left: 10%;
}
h3{
    margin-left: 5%;
    vertical-align: middle;
    display: inline-block;

}
h4{
    position: center;

}

html{
    background-color: rgba(0, 0, 0, 0.7);
}

.main-nav:hover {
    padding: 3px 3px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;

}
.main-nav{
    float: right;
    display: inline-block;

    font-size: 20px;
}

article {
    background-color: rgba(23, 22, 22, 0.3);
    position: center;
    box-sizing: content-box;
    margin-left: 20%;
    margin-right: 20%;
}

.Header{
    padding-top: 20%;
    margin-right: 20%;
    margin-left: 20%;
}
.block{
    display: block;
    border: none;
    width: 60%;
    height: 30%;
    padding: 14px 28px 20px 20px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 20%;
    background-color: #fc4949;
    opacity: 80%;
    text-emphasis: none;
}
.block:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}
.difficulty{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 30%;
}
label.difficulty{
    display: block;
    background-color: #fc4949;
}
option{
    background-color: rgb(220, 238, 255, 0.6);
}
select{

    border-color: rgba(0,0,0,1);
    padding: 1px;
    background-color: rgb(220, 238, 255, 0.6);
}
.signin{

    margin-bottom: 3px;
    border-color: rgba(0, 0, 0);
    background-color: rgb(220, 238, 255, 0.6);
}


